#root {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fffbe7;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.nav-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.3vw 2vw;
  align-content: center;
  background-color: #40dfef;
}

.nav-items h1 {
  font-size: 22px;
  filter: drop-shadow(0.2vw 0.2vw 0vw white);
}

.nav-links {
  display: flex;
  gap: 2vw;
  margin: 1.2vw 0;
}

.menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
  color: black;
  padding: 0;
}

.nav-links a.active {
  color: red;
  border-bottom: 0.2vw solid red; /* Change this to the desired color */
  /* Add any other styles you want for the active link */
}

.home-page {
  display: flex;
  margin: auto;
}

.intro {
  padding: 5%;
  width: 50%;
}

.intro h1 {
  margin: 0;
  font-size: 45px;
  filter: drop-shadow(4px 4px 0px rgb(0, 247, 255));
}
.intro p {
  font-size: 25px;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
  word-spacing: 10px;
  padding: 4vw 0;
}

.Typewriter span {
  font-size: 35px;
  font-weight: 600;
  filter: drop-shadow(3px 3px 0px red);
}

.profile {
  width: 45%;
  padding: 5%;
  display: flex;
  place-items: center;
}

.profile .carousel-img {
  width: 100% !important;
  border-radius: 10px;
  margin: auto;
}

.profile p {
  display: none;
}

.profile .carousel-root .carousel .thumbs-wrapper {
  display: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.3vw 2vw;
  background-color: #40dfef;
  width: 100%;
  box-sizing: border-box;
}

.footer .link-buttons {
  display: flex;
  gap: 2vw;
}

.container {
  height: 84%;
}

@media only screen and (max-width: 1000px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    padding-top: 3vw;
  }

  .mobile-menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    color: black;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    width: 34px;
  }

  .cross-icon {
    width: 20px;
    height: 20px;
    padding: 2vw;
  }
}
