#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;

  background-color: #000000;
  color: white;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  padding: 0.3vw 2vw;
  align-content: center;
  background-color: transparent;
  filter: drop-shadow(2px 2px 2px red);
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 99;
}

.nav-clipart {
  width: 60%;
  height: 100vh;
  background-color: #fff;
  clip-path: polygon(0 0, 61% 0, 100% 100%, 0 100%);
  position: absolute;
  z-index: 2;
}

.nav-items h1 {
  font-size: 22px;
  font-weight: 400;
  color: lightblue;
  filter: drop-shadow(0.2vw 0.2vw 0vw rgb(255, 0, 0));
  margin: auto 0;
}

.nav-links {
  display: flex;
  gap: 2vw;
  margin: 1.2vw 0;
}

.menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  width: fit-content;
  color: lightblue;
  padding: 0;
}

.nav-links a.active {
  color: white;
  border-bottom: 0.2vw solid white;
  filter: drop-shadow(
    2px 2px 2px rgb(255, 123, 23)
  ); /* Change this to the desired color */
  /* Add any other styles you want for the active link */
}

.home-page {
  display: flex;
  margin: auto;
  justify-content: space-between;
  position: relative;
  /* box-shadow: 0 0.1vw 10vw red; */
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 50%;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2;
}

.intro h1 {
  margin: 0;
  font-size: 38px;
  color: darkblue;
  font-weight: 400;
  filter: drop-shadow(3px 2px 2px red);
}
.intro p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  word-spacing: 5px;
  margin: 1vw auto;
  color: black;
}

.Typewriter span {
  font-size: 28px;
  font-weight: 300;
  color: darkblue;
  filter: drop-shadow(3px 2px 2px red);
}

.profile {
  width: 35%;
  padding: 0;
  display: flex;
  place-items: center;
  z-index: 2;
  margin: auto;
}

.profile .carousel-img {
  width: 100% !important;
  border-radius: 10px;
  margin: auto;
  z-index: 2;
}

.profile p {
  display: none;
}

.profile .carousel-root .carousel .thumbs-wrapper {
  display: none;
}

.intro .next-button {
  margin: auto;
  width: 100%;
}

.intro .next-button button {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  border: 0.2vw solid #699e3c;
  color: #699e3c;
  border-radius: 2vw;
  width: 100%;
  background-color: #fff;
}

.container h1 {
  color: #000;
}

.skill {
  padding: 0vw;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.skill-1 {
  width: 50%;
  padding: 1vw 3vw;
  box-sizing: border-box;
}

.skill-1 h2 {
  color: #000;
  margin: 0;
}

.skill-shell {
  /* border: 0.1vw solid black; */
  width: 80%;
  border-radius: 2vw;
  background-color: #b2b2b2;
}

.skill-shell .skill-fill {
  width: 50%;
  height: 1.5vw;
  background-color: darkblue;
  border-radius: 2vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.footer .link-buttons {
  display: flex;
  gap: 3vw;
  color: #000;
  margin-left: 2vw;
}

.footer .link-buttons img {
  width: 2.6vw;
  height: 2.6vw;
}

.footer p {
  color: #a7a4a4;
  font-size: 20px;
  margin: 0;
}

.download-btn {
  border: none;
  border-radius: 1vw;
  background-color: #fff;
  font-size: 1vw;
  font-weight: 600;
  padding: 0.8vw;
  margin-right: 2vw;
  color: black;
}

.container {
  height: 100%;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .nav-items {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    filter: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 3vw 0 2vw 0;
    filter: drop-shadow(2px 2px 2px red);
  }

  .mobile-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    width: fit-content;
    color: lightblue;
    padding: 1vw;
    margin: auto;
    z-index: 3;
  }

  .mobile-menu a.active {
    color: rgb(255, 255, 255);
    border-bottom: 0.2vw solid white;
    filter: drop-shadow(2px 2px 2px rgb(255, 123, 23));
  }

  .nav-items h1 {
    margin: auto 2vw;
    font-size: 4vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0.3vw 0.3vw 0.3vw rgb(252, 80, 80));
  }

  .nav-links {
    display: none;
  }

  .nav-clipart {
    display: none;
  }

  .menu-icon {
    display: block;
    width: 4vw;
    height: 4vw;
    background-color: #fff;
    margin: auto 2vw;
  }

  .cross-icon {
    width: 3vw;
    height: 3vw;
    padding: 0.5vw;
    margin: 1vw 2vw;
    background-color: #fff;
  }

  .home-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 6vw auto;
  }

  .intro {
    padding: 20% 5% 5% 5%;
    width: 100%;
    margin-top: -15%;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    height: fit-content;
    background-color: #fff;
  }

  .intro h1 {
    margin: 0;
    font-size: 35px;
    color: black;
    font-weight: 500;
    filter: drop-shadow(3px 3px 0px #53ba17);
    text-align: center;
    z-index: 2;
  }
  .intro p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    word-spacing: 10px;
    padding: 4vw 0;
    color: black;
    z-index: 2;
  }

  .Typewriter {
    text-align: center;
    z-index: 2;
  }

  .Typewriter span {
    font-size: 25px;
    font-weight: 400;
    color: rgb(40, 41, 42);
    filter: drop-shadow(2px 2px 0px red);
    z-index: 2;
  }

  .profile {
    width: 60%;
    padding: 5vw 0 0 0;
    display: flex;
    place-items: center;
  }

  .profile .carousel-img {
    width: 100% !important;
    border-radius: 20px;
    margin: auto;
  }

  .footer {
    background-color: #fff;
    padding: 2vw 2vw;
  }

  .footer .link-buttons {
    display: flex;
    gap: 3vw;
    margin-left: 2vw;
  }

  .footer .link-buttons img {
    width: 2.6vw;
    height: 2.6vw;
    margin: auto;
  }

  .footer p {
    color: #999999;
    margin: 0;
  }

  .download-btn {
    border: none;
    border-radius: 1vw;
    background-color: #000;
    font-size: 1.2vw;
    font-weight: 600;
    padding: 1vw;
    margin-right: 2vw;
    color: rgb(255, 253, 253);
  }
}
