:root {
  color: rgba(0, 0, 0, 0.87);
  background-color: #7d7a7a;
  font-family: "Nunito Sans", sans-serif;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
